PORT=4000
ORIGIN=http://localhost:12312
NODE_ENV=development

#BD postgres
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=


#opossum
# Tiempo máximo por llamada antes de contarla como fallo (ETIMEDOUT)
CB_TIMEOUT_MS=8000
# % de fallos en la ventana móvil que abre el circuito
CB_ERROR_THRESHOLD_PERCENTAGE=50
# Cuánto espera en estado "Abierto" antes de pasar a "Semiabierto"
CB_RESET_TIMEOUT_MS=15000
# Mínimo de llamadas en la ventana antes de poder abrir el circuito
CB_VOLUME_THRESHOLD=5
